## Copyright (C) 2019 - 2022 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Unit]
Description=sets all libvirt VM disks to read-only when Live Mode is detected
Documentation=https://github.com/Whonix/libvirt-dist

ConditionKernelCommandLine=|boot=live

After=libvirtd.service
After=libvirt-guests.service
After=virtlockd.socket
After=virtlogd.socket
After=virtlockd-admin.socket
After=virtlogd-admin.socket

After=libvirt-dist-install.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/libvirt-dist/live-mode-to-read-only

[Install]
WantedBy=multi-user.target
