## Copyright (C) 2020 - 2023 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Unit]
Description=Whonix initial libvirt settings
Documentation=https://github.com/Whonix/libvirt-dist

## legacy
ConditionPathExists=!/var/lib/whonix-libvirt/install.done
## new
ConditionPathExists=!/var/lib/libvirt-dist/install.done

After=libvirtd.service
After=libvirt-guests.service
After=virtlockd.socket
After=virtlogd.socket
After=virtlockd-admin.socket
After=virtlogd-admin.socket

[Service]
Type=oneshot
ExecStart=/usr/libexec/libvirt-dist/install

[Install]
WantedBy=multi-user.target
