## Copyright (C) 2020 - 2021 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Desktop Entry]
Name=Distribution Host Boot Popup
Comment=dismissible popup
Type=Application
Terminal=false
Exec=/usr/libexec/libvirt-dist/host-boot-popup
#NotShowIn=QUBES;
